@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
:root{
    --verde-IEP: #179349;
    --verde-hover: #B0F5C3;
    --disabled: #D3D3D3;
}

.logo{
    font-size: 3rem;
    color: var(--verde-IEP);
    font-weight: 600;
}

.logo:hover {
    font-size: 3rem;
    color: var(--verde-hover);
}

.nav-link{
    color: var(--verde-IEP);
}

.nav-link .focus{
    color:var(--verde-hover) !important;
}

.text-lg {
    font-size: x-large;
    font-weight: 400;
}

.title{
    font-size: large;
    color: var(--verde-IEP);
}

.invisible-link {
    text-decoration: none;
    cursor: pointer;
}

.btn-primary, .btn-primary:active, .btn-primary:focus{
    background-color: var(--verde-IEP) !important;
    border-color: var(--verde-IEP) !important;
}

.btn-primary:hover{
    background-color: var(--verde-hover) !important;
    border-color: var(--verde-hover) !important;
}

.form-control{
    background-color: var(--verde-hover);
}

input[type="checkbox"] {
    accent-color: var(--verde-IEP);
}

.readonly{
    background-color: var(--disabled) !important;
}

.text-main{
    color: black;
}

.text-main:hover{
    opacity: 80%;
}